<!DOCTYPE html>
<html>
<head>
    <title>Admin - Add Product</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<h2>🔐 Admin Panel – Add Product</h2>

<input type="text" id="barcode" placeholder="Barcode"><br><br>
<input type="text" id="name" placeholder="Product Name"><br><br>
<input type="text" id="brand" placeholder="Brand"><br><br>

<label>MFG Date:</label><br>
<input type="date" id="mfg"><br><br>

<label>EXP Date:</label><br>
<input type="date" id="exp"><br><br>

<input type="number" id="price" placeholder="Price"><br><br>

<textarea id="desc" placeholder="Description"></textarea><br><br>

<button onclick="addProduct()">Add Product</button>

<div id="msg"></div>

<script src="/static/js/admin.js"></script>
</body>
</html>
